@tailwind base;
@tailwind components;
@tailwind utilities;

.show-menu{
    display: block;
}

.profile{
    border-radius: 53% 47% 48% 52% / 30% 30% 70% 70% ;
    transition: border-radius 500ms ease-out;
    width: 22rem;
    border:1px solid rgb(29, 28, 28);
}

.profile:hover{
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

.web-developer{
    width: 16rem;
}
.grade12{
    width: 19rem;
    padding-left: 5.5rem;
}
.grade8{
    width: 19.5rem;
    padding-left: 5.5rem;
}
.web{
    width: 18rem;
    padding-right: 4.5rem;
}
.alxse{
    height: 10rem;
}

.skill1{
    
    background-image: linear-gradient(to right, rgb(84, 13, 214) 95%, transparent 95%);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.skill2{
    background-image: linear-gradient(to right, rgb(84, 13, 214) 55%, transparent 55%);
}

.skill3{
    background-image: linear-gradient(to right, rgb(84, 13, 214) 80%, transparent 80%);
}

.skill4{
    background-image: linear-gradient(to right, rgb(84, 13, 214) 40%, transparent 40%);

}



.projects{
    width: 20rem;
}
.project3{
    border: 1px solid black;
}

.about{
    margin-right: 10rem;
    border: 3px solid black;
    width: 50%;
}



.main{
    overflow: hidden;
}
.main .div{
    Transition: all ease-in 1s;
}

/* .main .div:first-child {
    transform: translateX(-150%);
    opacity: 0;
  }
.main .div:last-child {
    transform: translateX(150%);
    opacity: 0;
  }
.slide-in {
    transform: translateX(0) !important;
    opacity: 1 !important;
  } */


.main .div:first-child {
    transform: translateX(-150%);
    opacity: 0;
  }
.main .div:last-child {
    transform: translateX(150%);
    opacity: 0;
  }
.slide-in {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
